#homebody{
  background-image: url("../images/bowl.jpg");
  background-size: 100%;
}

.my-container{ 
  width: 90%;
}

nav{
  background-color:whitesmoke;
  color: black;
}

.page-footer{
  background-color:whitesmoke;
}



.contactBackground{
  background-color: whitesmoke;
}

#navHome{
  margin-left: auto;
}

.card{
  border-radius: 1.5em;
  /*background-color:rgba(255, 208, 0, 0.274);*/ 
  background-color: whitesmoke;
  color:darkolivegreen;
}

h1 {
  font-family: 'Princess Sofia', cursive;
  text-shadow: 4px 4px 4px rgb(255, 255, 255);
  font-size: 80px;
  padding-left: 10px;
  
}


.card-action-right {

  float: right;

}







.card__date {

  background: #08c;

  position: absolute;

  top: 20px;

  right: 20px;

  width: 45px;

  height: 45px;

  border-radius: 50%;

  color: #fff;

  text-align: center;

  line-height: 13px;

  font-weight: bold;

  padding-top: 10px;

}

.card__date__day {

  display: block;

  font-size: 14px;

}

.card__date__month {

  display: block;

  font-size: 10px;

  text-transform: uppercase;

}

li{

display:inline-block;

}

.my-collapsible-header{
  min-width: 100%;
}